{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}WU Campus Plan{% endblock %}



{% block head_extra %}

    <script src="{% static "js/bloodhound.min.js" %}"></script>
    <script src="{% static "js/typeahead.bundle.min.js" %}"></script>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">#}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{% static "homepage/wu-neu/css.css" %}" type="text/css" >
    <link rel="stylesheet" href="{% static "homepage/wu-neu/font-awesome.min.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "homepage/wu-neu/app.min.js" %}"></script>

    <style> body {
        padding-top: 0px;
    }</style>


{% endblock head_extra %}

{% block nav-top %}

    {% include "wu-neu-nav.html" %}

    <nav class="navbar navbar-default hidden-md hidden-lg">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#map-search-form" aria-expanded="true">
                    <span class="sr-only">{% trans 'Toggle search form' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">Indrz</a>
            </div>
        </div>
    </nav>

{% endblock nav-top %}


{% block side_col %}{%include "wu-neu-left-menu.html" %}{% endblock %}
{% block main_col %}{%include "main-map.html" %}{% endblock %}

{% block js-conf %}
<script>  {% include 'homepage/indrzMapConf.js' %} </script>

{% endblock js-conf %}



{% block map_frame %}
    <script>  {% include 'homepage/indrz-poi.js' %} </script>
    <script>  {% include 'homepage/bugreport.js' %} </script>
    <script>  {% include 'homepage/indrzLayers.js' %} </script>
    <script>  {% include 'homepage/indrz-floorswitcher.js' %} </script>
    <script>  {% include 'homepage/indrzMapInit.js' %}</script>
    <script>  {% include 'homepage/routing.js' %} </script>
    <script>  {% include 'homepage/search.js' %} </script>
    <script>  {% include 'homepage/indrz-popup.js' %} </script>
    <script>  {% include 'homepage/indrz-controls.js' %} </script>
    <script>  {% include 'homepage/indrz_live_url_update.js' %} </script>
    <script>  {% include 'homepage/share.js' %} </script>
    <script>  {% include 'homepage/initialize.js' %} </script>
    {% if space_id > 0 and space_id != None %}
        <script>  {% include 'homepage/indrz-space.js' %} </script>
    {% endif %}
{% endblock map_frame %}

{% block js-bottom %}
    <script>
    $(".nav a").on("click", function () {
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });

    $(function () {
        $("#floor-links-select").on('change', function () {
            activateLayer($(this).val());
        });
    });

</script>

{% endblock js-bottom %}

{% block footer %}{% include "wu-neu-footer.html" %}{% endblock footer %}
