{% load staticfiles %}
{% load i18n %}

<header id="top">

    <nav class="nav-meta">
        <div class="container-fluid">
        <div class="nav-left">
            <ul>
                <li class="logo-container"><a href="http://hosting.wu.ac.at/gis/#">
                    <img src="{% static "wu-neu/sitelogo-md.png" %}" class="logo" alt=""></a></li>
                <!--li class="brandname slideout"><a>CAMPUS</a></li-->
                <li class="active" style="background: #009bb8;"><a>Karte</a></li>
                <li><a>Hilfe</a></li>
            </ul>
        </div>

        <div class="nav-right">
            <ul>
                <li><a>EN</a></li>
                <li class="slideout" id="quicklinksLink"><a>Quicklinks <i class="fa fa-plus wu-blue"></i></a></li>
            </ul>
        </div>
            </div>
    </nav>
</header>

<!--
  Navigation end
-->

<!--
  Quicklinks start
-->
<div id="quicklinks-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 tiles">
                <ul class="row">
                    <li class="col-md-6">
                        <a href="http://learn.wu.ac.at/">
                            <h5>Learn@WU</h5>
                            <ul>
                                <li>Lernmaterialien</li>
                                <li>Tools für den Unterricht</li>
                                <li>Termine, Fristen &amp; Aufgaben</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://bach.wu.ac.at/z/stud/acl_users/cookie/login_form?came_from=https%3A//bach.wu.ac.at/z/stud/digidoc/">
                            <h5>Online-Services für Studierende</h5>
                            <ul>
                                <li>Download von digitalen Dokumenten</li>
                                <li>Rückmeldung</li>
                                <li>Änderung persönlicher Daten</li>
                                <li>Student Rankings</li>
                                <li>uvm.</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://https//lpis.wu.ac.at/lpis">
                            <h5>LV- und Prüfungsinfo (LPIS)</h5>
                            <ul>
                                <li>An- und Abmeldung zu LVs und Prüfungen</li>
                                <li>Noteneinsicht</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://controlpanel.wu.ac.at/">
                            <h5>Control Panel</h5>
                            <ul>
                                <li>Maildienste</li>
                                <li>WU Passwort &amp; PIN</li>
                                <li>SMS Service</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://vvz.wu.ac.at/cgi-bin/vvz.pl">
                            <h5>Vorlesungsverzeichnis (VVZ)</h5>
                            <ul>
                                <li>Termine</li>
                                <li>Inhalte der Lehr­ver­an­stal­tungen</li>
                                <li>Beur­tei­lungs­kri­te­rien</li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="quicklinks">
                    <li><a href="https://wu.ac.at/bibliothek/">Bibliothek</a></li>
                    <li><a href="http://campus.wu.ac.at/">Campus Plan</a></li>
                    <li>
                        <a href="https://wu.ac.at/universitaet/organisation/akademische-einheiten/departments-institute/">Institute
                            &amp; Departments</a></li>
                    <li><a href="https://wu.ac.at/studierende/study-service-center/">Study Service Center</a></li>
                    <li><a href="http://bach.wu.ac.at/d/directory/">Telefonverzeichnis</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--
  Quicklinks end
-->