{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="description" content="indrz indoor map">
    <meta name="author" content="GOMOGI platform indrz.com">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

       <title>{% block title %}{% trans "Campus Plan" %} {% endblock %}</title>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <meta name="KEYWORDS" content="Home">
    <meta name="robots" content="index,follow">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <link rel="stylesheet" href="{% static "wu-neu/css" %}" type="text/css" >
    <link rel="stylesheet" href="{% static "wu-neu/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "wu-neu/app.min.css" %}" type="text/css" media="all">
    <script type="text/javascript" src="{% static "wu-neu/jquery-1.12.1.min.js" %}"></script>


    {% block head_extra %}{% endblock head_extra %}


</head>

<body>

<!--
  Navigation start
-->

{% block nav %}{% include 'wu-neu-nav.html' %}{% endblock nav %}


<!--
 Main start
-->
<main>

    <div id="indrz-main-container" class="container-fluid">

        <div class="row">
          {% block left-content %}  {% endblock left-content %}
           {% block right-content-map %}{% endblock right-content-map %}

           {% block content %}{% endblock content %}

        </div>

    </div>

</main>



{% block popup-markup %} {% include 'popup-markup.html' %} {% endblock popup-markup %}


{% block js-search-box %}{% endblock js-search-box %}
{% block route_from_to %}{% endblock route_from_to %}
{% block map_frame %}{% endblock map_frame %}
{% block js-autocomplete %}{% endblock js-autocomplete %}
{% block route_options %}{% endblock route_options %}
{% block footer %} {% include "wu-neu-footer.html" %}{% endblock footer %}

<script>
    $(".nav a").on("click", function () {
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });

    $(function () {
        $("#floor-links-select").on('change', function () {
            activateLayer($(this).val());
        });
    });

</script>
</body>
</html>