{% load i18n %}

{% block search-form %} {% endblock search-form %}
{% block routing-form %} {% endblock routing-form %}
{% block language-changer %}{% endblock language-changer %}
{% block poi-menu %}{% endblock poi-menu %}

<div class="col-md-3 col-lg-2" id="map-search-form" >




    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <h3>{% trans "Search on campus" %}</h3>


         {% include 'search-form.html' %}


        <a id="id-share-map" class="btn btn-primary " data-toggle="modal" data-target="#ShareMapModal" data-placement="top" title="{% trans 'Share Map' %}" ><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
        <a id="id-zoom-to-campus" class="btn btn-primary" data-placement="top" title="{% trans 'Zoom to Campus' %}"  ><i class="fa fa-home"  aria-hidden="true"></i></a>



        <p style="padding-bottom: 15px;"></p>


{#      <div class="panel panel-default" style="margin-top: 10px;">#}
{#        <div class="panel-heading" role="tab" id="headingOne">#}
{#          <h4 class="panel-title">#}
{#            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >#}
{#              {% trans 'Search on Campus' %}#}
{#            </a>#}
{#          </h4>#}
{#        </div>#}
{#        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">#}
{#          <div class="panel-body">#}
{#            <div id="search-prefetch2" class="input-group" style="padding-bottom: 15px;">#}
{#                {% include 'search-form.html' %}#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {% trans 'Routing' %}
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
                <div>
                    {% include 'routing-form.html' %}
                </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {% trans 'POIs' %}
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">

            <div >

                <div>
                     {% include "includes/poi-tree.html" %}
                </div>

             </div>

          </div>
        </div>
      </div>
    </div>
</div>

<script>
$(function () {
  $('[data-placement="top"]').tooltip()

})

</script>
