{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}WU Campus Kiosk{% endblock %}


{% block head_extra %}

    <script src="{% static "js/bloodhound.min.js" %}"></script>
    <script src="{% static "js/typeahead.bundle.min.js" %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="{% static "homepage/wu-neu/css.css" %}" type="text/css" >
    <link rel="stylesheet" href="{% static "homepage/wu-neu/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "homepage/wu-neu/app.min.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "homepage/css/wu-indrz-style.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "homepage/wu-neu/app.min.js" %}"></script>

    <style> body {
            padding-top: 0px;
        }
    </style>


{% endblock head_extra %}

{% block nav-top %}{% endblock nav-top %}


{% block side_col %}


    <div id="map-search-form">


        {% block search-form %}
            <div id="search-form-id" class="indrz-search-kiosk">
                <div id="kiosk-poi-section" class="indrz-poi-kiosk">

                    {% include "poi/poi-kiosk.html" %}

                </div>

            </div>
        {% endblock search-form %}


    </div>

{% endblock side_col %}

{% block main_col %}
            <div id="map" class="indrz-map-container">
                {% block floor-change-float %}

                            <div class="indrz-floor-changer-float">
                                <select class="form-control hidden-md hidden-lg" id="floor-links-select"></select>
                                <ul class="nav nav-pills nav-stacked visible-md-block visible-lg-block" id="floor-links"></ul>
                            </div>

                        {% endblock floor-change-float %}

                        <div id="map-block"></div>

                        {% block indrz-logo-imgt %}

                            <div class="indrz-logo">

                                <a href="http://www.indrz.com" target="_blank"><img
                                        src="{% static "img/indrz-powered-by-90px.png" %}"/></a>

                            </div>

                        {% endblock indrz-logo-imgt %}

            </div>
{% endblock %}

{% block js-conf %}
<script>  {% include 'homepage/indrzMapConf.js' %} </script>

{% endblock js-conf %}


{% block map_frame %}
    <script>  {% include 'homepage/indrz-poi.js' %} </script>
    <script>  {% include 'homepage/indrzLayers.js' %} </script>
    <script>  {% include 'homepage/indrz-floorswitcher.js' %} </script>
    <script>  {% include 'homepage/indrzMapInit.js' %}</script>
    <script>  {% include 'homepage/routing.js' %} </script>
    <script>  {% include 'homepage/search.js' %} </script>
    <script>  {% include 'homepage/indrz-popup.js' %} </script>
    <script>  {% include 'homepage/indrz-controls.js' %} </script>
    <script>  {% include 'homepage/share.js' %} </script>
    <script>  {% include 'homepage/initialize.js' %} </script>

{% endblock map_frame %}

{% block js-bottom %}
    <script>
    $(".nav a").on("click", function () {
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });

    $(function () {
        $("#floor-links-select").on('change', function () {
            console.log("click floor change event: " + $(this).val());
            activateLayer($(this).val());
        });
    });



</script>

      <script src="{% static "js/jstree/jstree.min.js" %}"></script>
  <script>

  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree({
    "checkbox" : {
      "keep_selected_style" : true,
      "visible" : true,
      "three_state": false
    },
    "plugins" : [ "checkbox", "wholerow" ]
  });


      $('#jstree').on("changed.jstree", function(e, data) {
          var nodeName = $('#jstree').jstree(true).get_text(data.node);
            if(poiExist(nodeName.trim())){

            }
            else
            {
                var Catid = data.node.id;
                var catNumId = Catid.split("_")[1];
                var poiIconName = $('#jstree').jstree(true).get_icon(data.node.id);
                console.log("poi icon name is:" + poiIconName);
                createPoi(1, nodeName.trim(), catNumId, poiIconName);
            }


      });

    $('#jstree').on("deselect_node.jstree", function(e, data) {
        var nodeName = $('#jstree').jstree(true).get_text(data.node.id);
        console.log("deselected  :" + nodeName.trim());

                //map.removeLayer(poiLayer);
                setPoiVisibility(nodeName.trim());
                console.log("removing poi layer now");
                //map.getLayers().pop();

      });

          $('#jstree').on("select_node.jstree", function(e, data) {
            var nodeName = $('#jstree').jstree(true).get_text(data.node.id);
            console.log("SELECTED  :" + nodeName.trim());

            var Catid = data.node.id;
            var catNumId = Catid.split("_")[1];
            console.log("current id is num: " + Catid);
            console.log("id num is: " + catNumId);







                //map.removeLayer(poiLayer);
                setPoiVisibility(nodeName.trim());
                console.log("make it Visible");
                //map.getLayers().pop();

      });




  });
  </script>

{% endblock js-bottom %}



{% block footer %}{% endblock footer %}
