{% load mptt_tags %}
<ul> {% recursetree nodes %}
        <li{% if node.is_root_node %} class="root-node" id="{{ node.cat_name }}"{% endif %}
                {% if node.is_child_node %}class="child-node" {% endif %}
                    {% if node.is_leaf_node %} class="no-child" {% endif %}>
    {{ node.cat_name }}
        {% if not node.is_leaf_node %} <ul class="children" id="{{ node.cat_name }}>{{ children }}</ul>{% endif %}</li>
    {% endrecursetree %}
</ul>
<p>

    <a href="/poi/add_category"> go add a new category</a>
</p>