{% load staticfiles %}
{% load i18n %}

<div style="overflow: auto; height:500px;">
  <div id="jstree">
    <!-- in this example the tree is populated from inline HTML -->
      {% include "poi/poi-category.html" %}

  </div>

</div>



  <!-- 4 include the jQuery library -->
  <!-- 5 include the minified jstree source -->
  <script src="{% static "js/jstree/jstree.min.js" %}"></script>
  <script>

  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree({
    "checkbox" : {
      "keep_selected_style" : false,
      "visible" : false,
      "three_state": false
    },
    "plugins" : [ "checkbox", "wholerow" ]
  });


      $('#jstree').on("changed.jstree", function(e, data) {
          var nodeName = $('#jstree').jstree(true).get_text(data.node);
            if(poiExist(nodeName.trim())){

            }
            else
            {
                var Catid = data.node.id;
                var catNumId = Catid.split("_")[1];
                var poiIconName = $('#jstree').jstree(true).get_icon(data.node.id);
                createPoi(1, nodeName.trim(), catNumId, poiIconName.replace('_active',''));
            }

      });


      $("#jstree")
          .on('select_node.jstree', function (evt, data) {

              var nodeName = $('#jstree').jstree(true).get_text(data.node.id);
              var poiIconName2 = $('#jstree').jstree(true).get_icon(data.node.id);
              var Catid = data.node.id;

              setPoiVisibility(nodeName.trim());

              data.instance.set_icon(data.node, poiIconName2 + '_active');

          })
          .on('deselect_node.jstree', function (evt, data) {

              var nodeName = $('#jstree').jstree(true).get_text(data.node.id);
              var poiIconName3 = $('#jstree').jstree(true).get_icon(data.node.id);

              data.instance.set_icon(data.node, poiIconName3.replace("_active", ""));

              setPoiVisibility(nodeName.trim());

          });



  });
  </script>
