{% load staticfiles %}
{% load i18n %}


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
  {% trans "POI" %}
</button>


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  {% trans "Search" %}
</button>

<div class="collapse" id="collapseExample">
    <div class="well">

        {% include "kiosk/search-form-kiosk.html" %}

{#             <div id="search-prefetch2" class="input-group">#}
{##}
{#                <form class="form form-inline" id="submitFormSearch">#}
{#                    <div class="form-group form-group-sm">#}
{##}
{#                        <label for="searchField" class="sr-only">Searchterm</label>#}
{##}
{#                        <input type="text" class="form-control" id="search-input" placeholder="{% trans "Search for ..." %}">#}
{##}
{#                    </div>#}
{##}
{#                    <input id="enterSearch" type="submit" class="btn btn-primary" value="{% trans "Go!" %}">#}
{##}
{#                    <div>#}
{#                         <a id="clearSearch" class="btn btn-primary hide " href="#"><i class="fa fa-refresh fa-fw"></i></a>#}
{#                         <a id="shareSearch" href="#ShareModal" class = "btn btn-primary hide" data-toggle="modal" data-target="#ShareSearchModal"><i class="fa fa-share fa-fw"></i> {% trans "Share" %}</a>#}
{##}
{#                    </div>#}
{##}
{#                </form>#}
{##}
{#            </div>#}


    </div>
</div>

<div class="collapse" id="collapseExample2">
  <div class="well">
{#    <div class="panel panel-default">#}
{#      <div class="panel-body">#}
        <div id="kiosk-pois" class="list-group">

            {% if poi_cats %}

                {% for poi_cat in poi_cats %}

                          <a id="{{ poi_cat.cat_name }}_{{ poi_cat.id}}" href="#" class="list-group-item" aria-label="{{ poi_cat.icon_css_name }}"><img class="{{ poi_cat.icon_css_name }}" src="{% static "img/trans.png" %}">{{ poi_cat.cat_name }}</a>

                {% endfor %}

            {% endif %}


        </div>
{#      </div>#}
{#    </div>#}
  </div>
</div>





